{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<main>
		<h1>Bienvenue !</h1>
		<section class="homebox">
        <div class="presentation">Persona Non Grata est une plateforme collaborative de création de campagnes de jeu de rôle et de fiches de personnages.</div>
        <div class="target"><h3 class="homebox-titles">Pour qui ?</h3>
        Les rôlistes ou les auteurices qui souhaitent avoir tout au même endroit ! Plus besoin d'avoir 15 dossiers différents, tous vos personnages sont rangés ici avec des fiches bien organisées.</div>
        <div class="uses"><h3 class="homebox-titles">Pour quoi ?</h3>
        Pour des campagnes de JDR, sur table ou en ligne, ou bien vos projets d'écriture. Que vous soyez un.e rôliste intévéré.e avec une fanfare de personnages, un MJ qui veut garder un œil sur un groupe de joyeux drilles,  un.e écrivain.e en train de planifier les prochaines aventures de son équipe... Il y a de la place sur Persona Non Grata.</div>
        </section>
	</main>

{% endblock %}
