{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="preview">
    <img src="" alt="" width="100px" /></div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
