{% extends 'base.html.twig' %}

{% block title %}Nouveau personnage{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Créer un nouveau personnage</h1>

<div class="new-character">{{ include('character/_form.html.twig') }}

    <a href="{{ path('app_character_index') }}">Revenir en arrière</a>
    </div>
    {% endif %}
{% endblock %}
