<form method="post" action="{{ path('app_addons_delete', {'id': addon.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ addon.id) }}">
    <button class="btn">Supprimer</button>
</form>
