{% extends 'base.html.twig' %}

{% block title %}New Addons{% endblock %}

{% block body %}
    <h1>Create new Addons</h1>

    {{ include('addons/_form.html.twig') }}

    <a href="{{ path('app_addons_index') }}">back to list</a>
{% endblock %}
