{% extends 'base.html.twig' %}

{% block title %}Ajouter des add-ons{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Ajouter des liens externes</h1>

  <div class="addons">{{ include('addons/_form.html.twig') }}

    <a href="{{ path('app_addons_index') }}">Revenir à la liste</a>
    </div>
    {% endif %}
{% endblock %}
