{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}

	<main>
		<h1>Mentions légales</h1>
		<section class="legalbox">
			<div class="legalbox-zone">
				<h3 class="legalbox-titles">Editeur, publication et développement</h3>
				<p>Abigaïl Jean — Etudiante, Titre professionnel Développeur web/web mobile full-stack</p>
                <p>Les icônes utilisées proviennent de <a href="https://fontawesome.com/" target="_blank">FontAwesome</a></p>
                <p><b>Le 10 avril 2026 :</b> Illustrations par Abigaïl Jean, réalisées avec Procreate 5.4.8</p>

                <h3 class="legalbox-titles">Hébergement</h3>
                <p>Serveur local via Laragon - Apache 2.4.62</p>
                <p>Base de données sur MySQL 8.4</p>

                <h3 class="legalbox-titles">Politique de confidentialité</h3>
                <p>Le traitement des données collectées sur la plateforme est conforme au règlement général sur la protection des données (RGPD) et en accord avec la loi Informatique et Libertés.</p>
                
                <h3 class="legalbox-titles">Réutilisation des contenus et liens</h3>
                <p>Certains éléments de ce site sont protégés par le code de la propriété intellectuelle.</p><p>En accord avec l’Article L-122-4 du Code de la propriété intellectuelle :
« Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayant droit ou ayant cause est illicite. Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. »</p>
<p>Sont concernés les illustrations et textes des campagnes et personnages créés par les utilisateurs, qui ne doivent pas être réutilisés sans consentement explicite de leur auteur.</p>
<p>Vous êtes libres de reproduire, copier, modifier, extraire, transformer, communiquer, diffuser, publier, redistribuer, transmettre et exploiter, sous réserve de mentionner leur source, tous les autres éléments présents sur la plateforme.</p>
<p>Tout site, privé comme public, est autorisé à établir un lien (y compris profond) vers les informations diffusées sur ce site. Les pages ne peuvent cependant pas être imbriquées sur les pages d'un site tiers.</p>
<p>Cette autorisation exclut tout support à caractère polémique, pornographique, xénophobe, raciste, sexiste, anti-LGBTQIA+ et/ou pouvant dans une plus large mesure porter atteinte au plus grand nombre.</p>
			</div>
	</section>
</main>{% endblock %}
