<form method="post" action="{{ path('app_campaign_delete', {'id': campaign.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette campagne ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campaign.id) }}">
  <button class="btn">Supprimer</button>
</form>
