{% extends 'base.html.twig' %}

{% block title %}Modifier une campagne{% endblock %}

{% block body %}
{% if app.user %}
<main>
    <h1>Modifier la campagne</h1>

   <div class="new-campaign">{{ include('campaign/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_campaign_index') }}">Revenir au tableau</a>

    {{ include('campaign/_delete_form.html.twig') }}
    </div>
    </main>
    {% endif %}
{% endblock %}
