{% extends 'base.html.twig' %}

{% block title %}Nouvelle campagne{% endblock %}

{% block body %}
{% if app.user %}
<main>
    <h1>Créer une nouvelle campagne</h1>

   <div class="new-campaign">{{ include('campaign/_form.html.twig') }}

    <a href="{{ path('app_campaign_index') }}">Revenir au tableau</a>
    </div>
    </main>
    {% endif %}
{% endblock %}
