{% extends 'base.html.twig' %}

{% block title %}Modifier les genres{% endblock %}

{% block body %}
{% if app.user %}
<main>
    <h1>Modifier les genres</h1>

   <div class="new-genre"> {{ include('genres/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_genres_index') }}">Revenir à la liste</a>

    {{ include('genres/_delete_form.html.twig') }}
    </div>
    </main>
    {% endif %}
{% endblock %}
