{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
{% if app.user %}
<main>
    <h1>Genres</h1>

 {% if is_granted('ROLE_ADMIN') %}<a class="genre-new" href="{{ path('app_genres_new') }}"><i class="fa-solid fa-circle-plus"></i> Ajouter un genre</a>{% endif %}
    <table class="genre-index">
        <thead>
            <tr>
                <th>Genre</th>
               {% if is_granted('ROLE_ADMIN') %} <th>Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.keyword }}</td>
               {% if is_granted('ROLE_ADMIN') %} <td class="index-genre-actions">
                    <a href="{{ path('app_genres_edit', {'id': genre.id}) }}">Modifier</a>
                </td>{% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun genre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </main>
    {% endif %}
{% endblock %}
