{% extends 'base.html.twig' %}

{% block title %}Nouveau genre{% endblock %}

{% block body %}
{% if app.user %}
<main>
    <h1>Ajouter un nouveau genre</h1>

    <div class="new-genre">{{ include('genres/_form.html.twig') }}

    <a href="{{ path('app_genres_index') }}">Revenir à la liste</a>
    </div>
    </main>
    {% endif %}
{% endblock %}
