@use "../abstract/variables" as *;
@use "../abstract/breakpoints" as *;

// Defines overall header styles
// Will change flex-direction row to column under 700px of screen width
header {
    background: $dark-emerald;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: solid 2px $indian-gold;

    .site-title {
        font-family: "CustomSubtitles", serif;
        color: $indian-gold;
        font-size: $size-34;
        text-align: left;
        font-variant: small-caps;
        line-height:0.7em;
        margin:0.2em 0 0.2em 0.5em;
        &:hover{
        color:$indian-gold;
        }
    }

    .navbar {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center; 
        
        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5em;
            margin:0 1em;
            height:50px;
        }
    }
    .nav-button{
        font-size:$size-40;
        color:$indian-gold;
    }
    .nav-menu{
        display:none;
        position:absolute;
        top:50px;
        left:0;
        right:0;
        list-style:none;
        padding:0;
        background:$dark-emerald;

        &.show{
            display:initial;
        }

        .nav-item{
            padding:0.5em 0.7em;
        }
    }
    a{
        color: $indian-gold;
        text-decoration:none;
        font-family:'CustomTitles', 'Montserrat',sans-serif;
        font-weight:600;
        font-size:$size-16;
        &:hover{
            color:$white;
        }
    }
}

@media screen and (min-width:768px) {
    .navbar{
        .navbar-container{
            max-width:700px;
            margin: auto;
            .nav-button{
                display:none;
            }
            .nav-menu{
                display:initial;
                position:static;
                .nav-item{
                    display:inline-block;
                    padding:0.2em;
                    margin:0 auto;
                }
                a{
                    font-size:$size-14;
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    .navbar{
        .navbar-container{
            max-width:900px;
        }
    }
}

@media screen and (min-width:1024px) {
    .navbar{
        .navbar-container{
            max-width:960px;
        }
    }
}

@media screen and (min-width:1200px) {
    .navbar{
        .navbar-container{
            max-width:1100px;
        }
    }
}

@media screen and (min-width:1500px) {
    .navbar{
        .navbar-container{
            max-width:1400px;
        }
    }
}