{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation
{% endblock %}

{% block body %}

	<main>
		<h1>Conditions d'utilisation</h1>
		<section class="legalbox">
			<div class="legalbox-zone">
				<h3 class="legalbox-titles">Utilisation</h3>
				<p>En vous inscrivant sur Persona Non Grata, vous vous engagez à en faire un usage conforme et à vous abstenir de publier des contenus :
					<ul>
						<li>agressif</li>
						<li>insultant</li>
						<li>diffamant</li>
						<li>incitant à la haine</li>
						<li>contraire aux lois et règlements en vigueur</li>
					</ul></p>
					<p>Vous vous engagez également à ne pas poster de messages incitant ou évoquant des pratiques illégales.</p>

				<h3 class="legalbox-titles">Modération</h3>
				<p>Les administrateurs de cette plateforme peuvent éditer ou supprimer, sans préavis, tout contenu publié contrevenant aux dispositions précédentes. Tout abus peut être également sanctionné par la suppression de votre compte.</p>

				<h3 class="legalbox-titles">Données personnelles</h3>
				<p>En vous inscrivant sur cette plateforme, vous acceptez que celle-ci recueille certaines données à caractère personnel vous concernant. Ce recueil s'effectue par le biais des informations que vous nous communiquez ou par l'utilisation des services lorsqu'il s'agit de données techniques nécessaires au bon fonctionnement du site.
					                Vous pouvez à tout moment accéder, modifier ou supprimer ces données vous concernant.</p>
				<p>Tout utilisateur de moins de 16 ans certifie avoir obtenu le consentement d'un responsable légal afin de procéder à son inscription.</p>

				<h3 class="legalbox-titles">Utilisation des cookies</h3>
				<p>
					<b>Cette plateforme utilise des cookies pour stocker des informations sur votre ordinateur</b>. Ces cookies servent uniquement à améliorer le confort d'utilisation et vous pouvez choisir de ne pas activer les cookies dans votre navigateur. Cela peut perturber le bon fonctionnement du site et votre expérience dessus.</p>
				<h3 class="legalbox-titles">Informations relatives à la propriété intellectuelle</h3>
				<p>Certains éléments de ce site sont protégés par le code de la propriété intellectuelle.</p>
				<p>En accord avec l’Article L-122-4 du Code de la propriété intellectuelle :
					« Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayant droit ou ayant cause est illicite. Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. »</p>
				<p>Sont concernés les illustrations et textes des campagnes et personnages créés par les utilisateurs, qui ne doivent pas être réutilisés sans consentement explicite de leur auteur.</p>
			</div>
		</section>
	</main>
{% endblock %}
