<form method="post" action="{{ path('app_share_delete', {'id': share.id}) }}" onsubmit="return confirm('Voulez-vous vraiment défaire le partage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ share.id) }}">
    <button class="btn">Défaire le partage</button>
</form>
