{% extends 'base.html.twig' %}

{% block title %}Modifier le partage{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Modifier le partage</h1>

    {{ include('share/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_share_index') }}">Revenir à la liste</a>

    {{ include('share/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
