{% extends 'base.html.twig' %}

{% block title %}Nouveau partage{% endblock %}

{% block body %}
{% if app.user %}
<main>
    <h1>Faire un nouveau partage</h1>

   <div class="new-share"> {{ include('share/_form.html.twig') }}</div>

    <a class="new-share-links" href="{{ path('app_campaign_index') }}">Revenir en arrière</a>
    </main>
    {% endif %}
{% endblock %}
